@CHARSET "ISO-8859-1";



#rodape, footer { 
	background-color:#5bc0de;
	width:100%;
	position:fixed;
	bottom: 0;
	padding:10px 0px;
	text-align: center;
	font-size:13px; 
	color:#FFF;
	display: block;
}
#titulo, titulo{
	text-align: center;
	font-size:13px;
	color:#FFF
}
.menu {position: fixed; top: 0; width: 100%;}
.menu ul {font-size: 15px; text-align:center; }
.menu ul li {display: inline; }
.menu ul li a {margin: 0 auto;}
